.App {
  text-align: center; 
  height: 1150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("./resources/BG_Desktop.png");
  color: aliceblue;
}

#main-area button, input{
  font: bold 16px Arial; 
  color: #2e353f;

}
.wrapper{
  display:inline;
  
}
table{
    margin-left: 25%;
    margin-right: 25%;
}
td {
  padding-bottom: 33.5px;
  padding-top: 33.5px;
}
tr:hover {
  background-color:	rgba(255, 255, 255, .4);
}
#stickyButton{
  position: relative;
}

#main-area label {
  font: bold 22pt Arial;   
  height: 50px;
  border-bottom: 1px solid rgb(247, 247, 247); line-height:11pt;
}
#main-area img, #mid-area img{
  border-radius: 50%;
}
#edit{
  background-color:#c5b3d5
}
#search{
  background-color:#d6db4b
}

input button{
  float: left;
}
input:focus{
  border: 3px solid rgba(81, 203, 238, 1);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

